:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__breadcrumb {
  padding: 12px 32px 0;
  background: var(--bg-content);
}

.layout__content {
  flex: 1;
  overflow-y: auto;
  background: var(--bg-content);
}
