<form [formGroup]="form" novalidate class="space-y-6">
  <z-form-field>
    <z-form-label [zRequired]="!isEdit()">Nível</z-form-label>
    <z-form-control>
      <input
        z-input
        type="number"
        formControlName="nivel"
        placeholder="Ex: 1"
        class="w-full"
        [zNumeric]="true"
        [zMin]="1"
        [zMax]="10"
        [zStep]="1"
      />
    </z-form-control>
    @if (form.controls.nivel.invalid && form.controls.nivel.touched) {
      <z-form-message [zError]="true">
        @if (form.controls.nivel.errors?.['required']) {
          Nível é obrigatório.
        } @else if (form.controls.nivel.errors?.['min']) {
          O nível deve ser maior que 0.
        }
      </z-form-message>
    } @else {
      <z-form-message>
        {{ isEdit() ? 'O nível não pode ser alterado na edição.' : 'Ordem de prioridade do escalonamento (1 = primeiro a ser notificado).' }}
      </z-form-message>
    }
  </z-form-field>

  <z-form-field>
    <z-form-label [zRequired]="true">Atraso (minutos)</z-form-label>
    <z-form-control>
      <input
        z-input
        type="number"
        formControlName="atrasoMinutos"
        placeholder="Ex: 5"
        class="w-full"
        [zNumeric]="true"
        [zMin]="1"
        [zMax]="1440"
        [zStep]="1"
      />
    </z-form-control>
    @if (form.controls.atrasoMinutos.invalid && form.controls.atrasoMinutos.touched) {
      <z-form-message [zError]="true">
        @if (form.controls.atrasoMinutos.errors?.['required']) {
          Atraso é obrigatório.
        } @else if (form.controls.atrasoMinutos.errors?.['min']) {
          O atraso deve ser maior que 0.
        }
      </z-form-message>
    } @else {
      <z-form-message>Tempo em minutos sem check-in para acionar este nível de escalonamento.</z-form-message>
    }
  </z-form-field>

  <z-form-field>
    <z-form-label>Descrição</z-form-label>
    <z-form-control>
      <input
        z-input
        type="text"
        formControlName="descricao"
        placeholder="Ex: Notificação de sabotagem"
        class="w-full"
      />
    </z-form-control>
    <z-form-message>Descrição opcional para identificar este nível de escalonamento.</z-form-message>
  </z-form-field>

  <z-form-field>
    <z-form-label>Usuários notificados</z-form-label>
    <z-form-control>
      <z-select
        [zMultiple]="true"
        [zMaxLabelCount]="3"
        [formControl]="form.controls.usuarioIds"
        [zPlaceholder]="'Selecione os usuários...'"
        class="!h-auto !min-h-9"
      >
        @for (usuario of usuarios(); track usuario.value) {
          <z-select-item [zValue]="usuario.value">{{ usuario.label }}</z-select-item>
        }
      </z-select>
    </z-form-control>
    <z-form-message>Usuários que serão notificados quando este nível for acionado.</z-form-message>
  </z-form-field>
</form>
