<nav class="config-nav">
  <a
    class="config-nav__link"
    routerLink="/configuracoes"
    routerLinkActive
    #geral="routerLinkActive"
    [class.config-nav__link--active]="geral.isActive"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Geral
  </a>
  <a
    class="config-nav__link"
    routerLink="/configuracoes/escalonamento"
    routerLinkActive
    #escalonamento="routerLinkActive"
    [class.config-nav__link--active]="escalonamento.isActive"
  >
    Escalonamento
  </a>
</nav>
